<?xml version="1.0"?>

<launch>

  <arg name="odom_topic" default="/visual_odom" />
  <arg name="barom_topic" default="/bar30/pressure" />
  <arg name="atm_pressure" default="101300" />
  <arg name="fluid_density" default="997" />
  <arg name="img_topic" default="/BlueRov2/image" />
  <arg name="uw_img_topic" default="/BlueRov2/image" />

  <node respawn="false" pkg="underwater_visual_slam" type="UWRobot_VO.py" name="UWRobot_VO" output ="screen" >
    <param name="img_topic" value="$(arg img_topic)" />
  </node>


<!-- publish corrected video -->
<!--node respawn="true" pkg="bluerov_ros_playground" type="rectify_video.py" name="rectify_video">
  <param name="uw_img_topic" value="$(arg uw_img_topic)" />
</node-->

</launch>
